.main-header {
  background-color: var(--color-secondary);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: var(--font-large);
  color: var(--color-primary);
  font-weight: bold;
  margin-right: 4rem;
}

.navigation-options {
  list-style: none;
  display: flex;
}

.navigation-option {
  margin-inline: 1rem;
}

.navigation-option > a {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-bold);
  color: var(--color-font);
}

.navigation-option > a:hover {
  background-color: var(--color-background-highlight);
  color: var(--color-primary);
}

.navigation-option > a:hover path {
  fill: var(--color-primary);
}

.navigation-option > a > span {
  margin-left: 1rem;
}

.navigation-option > a[data-active="true"] {
  background-color: var(--color-background-highlight);
  color: var(--color-primary);
}

.navigation-option > a[data-active="true"] path {
  fill: var(--color-primary);
}

.button-container {
  width: 23rem;
  display: flex;
  justify-content: space-between;
}
