.filter-container {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  border-radius: var(--border-radius-sharp);
  margin-bottom: 2rem;
}

.filter-options {
  display: flex;
  list-style: none;
}

.filter-option {
  position: relative;
  padding-inline: 2rem;
  border-right: var(--border);
}

.filter-option:first-child {
  padding-left: 0;
}

.filter-option > p {
  font-size: var(--font-small);
  color: var(--color-font-faded);
}

.filter-option > h5 {
  color: var(--color-font);
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  display: flex;
}

.filter-option > h5 > span {
  background-color: var(--color-background-highlight);
  display: grid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  place-content: center;
  margin-left: 2rem;
  cursor: pointer;
  /* transition: all 0.2s ease-in-out; */
}

.filter-option > h5 > span:hover {
  transform: scale(1.1);
}

.filter-option > h5 > span path {
  fill: var(--color-primary);
}

.menu {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-medium);
  width: max-content;
  z-index: 10;
  position: absolute;
  border-radius: var(--border-radius-round);
  left: 50%;
  transform: translateX(-50%) translateY(-4rem);
  top: 10rem;
  max-height: 40rem;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

.menu[data-visible="true"] {
  pointer-events: all;
  opacity: 1;
  transform: translateX(-50%) translateY(0rem);
}

.menu-options {
  list-style: none;
}

.menu-option {
  padding: 1.5rem 4rem;
  cursor: pointer;
  font-size: var(--font-small);
}

.menu-option:hover {
  background-color: var(--color-background-highlight);
}
